.searchBox {
    width: 50%;
    margin: 0 auto;

    label {
        margin:10px;
    }
}

.actionBtn {
    display: flex;
}
.commentBox {
    width: 50%;
    margin: 0 auto;

    label {
        margin:10px;
    }
}

.editBox {
    width: 50%;
    margin: 0 auto;

    label {
        margin:10px;
    }  
}
img {
    width: 50px;
    height: 50px;
}